#acessoRapido{
	float:right;
	width: 450px;
	margin-top: 36px;
}

#acessoRapido form, .previsaoTempo{
	float:right;
}

.previsaoTempo{
	
}


#prev1{
	background-color:#fff;
}

/* ====== PESQUISA ====== */
.pesquisa {
	margin-top: 8px;
	float: right;
}

.pesquisa form input[type=text]{
	width:226px;
	height:17px;
}

.pesquisa form input[type=submit]{
	background-image:url(../../img/bgBA.gif);
	width:74px;
	height:22px;
	border:none;
	outline:1px solid #0d5a2f;
	margin-left:-5px;
	font-size:11px;
	color:#fff;
	
}


/* ====== PREVIS�O DO TEMPO ====== */

#acessoRapido .previsaoTempo ul li{
	list-style-image:url(../../img/previsao.png);
}

#acessoRapido .previsaoTempo{
	color:#476693;
}


#slogan h2{
	font-family:'unbpro-boldregular', arial, sans-serif;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	margin-top:-1px;
	margin-left:10px;
}


/*Configura��es do Menu*/


#menuAcessibilidade ul li{
	display:inline;
	margin-left:1px;
}

#menuAcessibilidade ul li a{
    text-decoration:none;
}

.menu{
    margin-top:1px;
    margin-bottom:1px;
}

.menuAcessoRapido ul{
	margin: 9px 0; 
}

.menuAcessoRapido ul li{
	display:inline;
}

.subMenuPrincipal ul li, #menu-menu-noticias li, #menu-menu-divulgacao-cientifica li{
	list-style-image:url(../../img/marcadorSMP.gif);
}

.menu-acessos-externos-container ul li a{
    color:#fff;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.menu li a:hover{
	color:#963;
}

#translation_bar{
	position:relative;
	left:302px;
	top:30px;
	float:right;
	margin-right:5px;
}

#translation_bar a{
	margin-left:5px;
}

#barraAcessibilidadePrincipal{
	background-image:url(../../img/bgBA.gif);
	width:100%;
}

/*CONFIGURAÇÕES DO MENU PRINCIPAL*/
#menuPrincipal{
    margin-top:5px;
    border-top:3px solid #097f42;
    background-image:url(../../img/bgMP.gif);
}


#menu-menu-principal > li{
	float: left;
	display: block;
}

#menu-menu-principal{
	position: relative;
}

#menu-menu-principal > li > a{
	color:#8A8B86;
	background-image:url(../../img/bgMP.gif);
	-webkit-transition:0.2s ease-in all;
	-moz-transition:0.2s  ease-in all;
	-o-transition:0.2s  ease-in all;
}

#menu-menu-principal > li > a:hover{
	color:#fff;
	background-image:url(../../img/bgMPHover.jpg);
}


#menu-menu-principal > li{
	margin-left: 0;
	border-right: 1px solid #d0d4bb;
}

#menu-menu-principal li:last-child{
    border-right: none;
}

#menu-menu-principal > li > a{
    text-decoration: none;
    font-size:15px;
    font-weight:bold;
    color:#8a8b86;
    text-transform: uppercase;
    padding: 5px 46px;
    float: left;
}

#menu-menu-principal > li > ul{
	visibility: hidden;
	opacity: 0;
	-webkit-transition:0.2s ease-in all;
	-moz-transition:0.2s  ease-in all;
	-o-transition:0.2s  ease-in all;
}

#menu-menu-principal > li:hover > ul{
	opacity: 100;
	visibility: visible;
}

/* atualizado */
