.paginacao{
	margin: 0 0 20px 0;
	float:right;
}

.paginacao a{
	background-color:#007339;
	color:#fff;
	padding:5px 8px;
	margin:2px;
	font-weight:bold;
	font-size:9px;
	-webkit-transition:0.6s all linear;
	-moz-transition:0.6s  all linear;
	-o-transition:0.6s  all linear;
	transition:0.6s  all linear;
}

.paginacao a:hover{
	background-color: #00b259;
}

.paginacao span.atual{
	background-color:#3b547a;
	color:#fff;
	padding: 7px 11px;
	margin:2px;
	font-size:12px;
	font-weight:bold;
}

.paginacao .paginas{
	margin-top:3px;
	margin-right:10px;
	color:#3b547a;
	float:left;
	font-size:10px;
}

/**/
.page-title, #post-0 h1{
	font-size:20px;
	color:#136b3b;
}

.leiaMais{
	color:#00B259;
}

.leiaMais:hover{
	color:#136b3b;
	border-bottom:1px dotted #136b3b;
}

.page-header{
	border-bottom:3px solid #136b3b;
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:-5px;
}

section h2{
	margin:0;
}

section h2 a{
	font-family:Verdana, arial, sans-serif;
	font-size:14px;
	color:#136b3b;
}

#resultadoBusca p{
	border-bottom:1px dotted #cacaca;
	padding-bottom:7px;
}

#resultadoBusca a{
	color:#000;
	-webkit-transition:0.3s all linear;
	-moz-transition:0.3s  all linear;
	-o-transition:0.3s  all linear;
	transition:0.3s  all linear;
}

#resultadoBusca a:hover{
	color:#007339;
}

#resultadoBusca p:last-child{
	border-bottom:none;
}

#resultadoBusca span{
	color:#9c9c9c;
	font-size:11px;
}

.hls{
	background-color:#007339;
	color:#fff;
}

#formularioPesquisa{
	background-image:url(../../img/pesquisaIcon.png);
        background-repeat:no-repeat;
        padding:0px;
        margin:0px;
        position:relative;
	margin-top:20px;
	border:2px solid #4e4f50;
	position:relative;
	height:75px;
}

#formularioPesquisa h4{
	font-size:11px;
	color:#656666;
	padding-top:10px;
	padding-left:10px;
}

#searchform input[type=text]{
    width:300px;
    height:20px;
    border:1px #3e6d37 solid;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
        
}

#searchform input[type=text]:focus{
    width:350px;
}

#formularioPesquisa #searchform span{
    border:medium none;
}

#searchform #searchsubmit{
    border-left:1px #9c9c9c dotted;
    padding-left:7px;
    background-color:transparent; /*important*/
    position:absolute; /*important*/
    top:117px;
    right:10px;
    width:11px;
    height:11px;
}

#formularioPesquisa #searchform #searchsubmit{
    border-left:1px #9c9c9c dotted;
    padding-left:7px;
    position:absolute; /*important*/
    top:39px;
    right:25px;
    width:11px;
    height:11px;
}

#formularioPesquisa buttom[type=submit]{
    background:url(../img/pesquisaIcon.png);
    width:11px;
    height:11px;
    border:0 none;
    cursor:pointer;
    display:block;
    height:19px;
    padding:0;
    position:absolute;
    top:0;
    right:0;
}

#formularioPesquisa input[type=submit]:hover{
	background-color:#004C26;
}

#formularioPesquisa form{
	margin-top:-15px;
}