/* 
    Document   : configBreadcrumb
    Created on : 15/09/2012, 10:18:04
    Author     : Sergio
    Description:
        Purpose of the stylesheet follows.
*/
#breadcrumbWP{
    text-transform:uppercase;
    font-size:10px;
    color:#8f8f8f;
    margin-left:-18px;
    margin-top:10px;
}

#breadcrumbWP span{ 
    float:left;
}

#breadcrumbWP ul li{ 
    display:inline;
}

#breadcrumbWP a{
    color:#46a546;
    -webkit-transition:0.2s ease-in all;
       -moz-transition:0.2s  ease-in all;
         -o-transition:0.2s  ease-in all;
            transition:0.2s  ease-in all;
        
}

#breadcrumbWP a:hover{
    color:#049cdb;     
}

