.infoSingle h1, .infoSingle h2{
	color: #006B2C;
	margin:0;
}

.infoSingle ul li{
	margin:0;
}

#bannerImagemInfoSingle{
	margin-top:-19px;
	border-bottom:4px #CACACA solid;
}

.infoSingle .informacoesCurso{
	font-weight:bold;
	font-size:12px;
}

.listaMatrizCurricular h3, .infoSingle h3{
	margin-bottom:0;
}

.perfilProfissional{
	margin-left:20px !important;
	list-style-image:url(../../img/marcadorSMP.gif); !important;
}

.infoSingle p{
	margin-top:5px;
	margin-bottom:0;
}

.infoSingle h2{
	margin-top:10px;
	font-size:17px;
}

.listaModulos h3{
	margin-bottom:0;
}

.noticiaPrincipal h1{
	margin: 5px 0;
	line-height: 22px;
}

.listaCursosPosGraduacao li{
	margin-left:0;
}

.listaCursosPosGraduacao h2{
	font-size:12px;
	font-weight:normal;
}

.listaCursosPosGraduacao li a:hover{
	text-decoration:underline;
}

.tituloPostPosGraduacao{
	text-transform:uppercase;
}