#banner{
	position:relative;
	height:217px;
	margin-bottom:0px;
}

#navBannerDir, #navBannerEsq{
	position: absolute;
	z-index:2;
}

#navBannerDir{
	top:0;
	right:0;
}

#bannerImagem{
	position: absolute;
	width: 940px;
	z-index:0;
}

#bannerImagem img{
	width: 940px;
	height: 217px;
}

#bannerDados{
	position: absolute;
	bottom: 20px;
	z-index:1;
}

#navegacaoEsquerda{
    background-image:url(../../img/bnLF.png);
    width:22px;
    height:217px;
    
}

#navegacaoDireita{
    background-image:url(../../img/bnRT.png);
    width:22px;
    height:217px;
    
}

#chamadaBanner{
	width:auto;
	background-image:url(../../img/bgCB.png);
	position:relative;
	left:12px;
}

#chamadaBanner hgroup{
	float: left;
}

#chamadaBanner h3 a{
	color:#fff;
}

#chamadaBanner h3 a:hover{
	color:#e3a200;
}

#chamadaBanner h3{
	font-family:verdana, arial, sans-serif;
	font-size:23px;
	color:#fff;
	margin-top:4px;
	margin-left:18px;
	margin-bottom: 0;
	line-height: 100%;
}

#chamadaBanner h3 a{
	color:#fff;
}

#chamadaBanner h3 a:hover{
	color:#d6ffe8;
}

#chamadaBanner h4{
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	color:#fff;
	margin-left:20px;
	font-weight:normal;
	margin-bottom: 0;
}

#dataChamadaBanner{
	background-color: #1A683E;
	border-right: 7px solid #E3A200;
	margin-left: 30px;
	margin-right: 0;
	text-align: center;
}

#dataChamadaBanner .diaBanner{
    color: #FFFFFF;
	display: block;
	font-family:verdana, arial, sans-serif;
	font-size: 26px;
	line-height: 100%;
	margin: 2px;
}

#dataChamadaBanner .mesBanner{
	font-family:verdana, arial, sans-serif;
	font-size:13px;
	color:#fff;
}

#dataChamadaBanner .diaBanner{
	font-family:verdana, arial, sans-serif;
	font-size:26px;
	color:#fff;
}