#rodape{
	text-align:center;
	background-image:url('../../img/bgFooter.png');
	height:308px;
	color:#7b7b7b;
	width:100%;
}

#rodape a{
	color:#7b7b7b;
}

#rodape .perguntasFrequentes{
    padding:12px;
}

#rodape .copyright{
    margin-top:12px;
}

#rodape span:first-child{
    display:block;
}

#rodape span{
    margin-top:-5px;
}

#endereco{
    width:350px;
    margin-left:200px;
    margin-top:60px;
    text-align:left;
}

#endereco address{
    display:inline;
    font-size:10px;
    font-style:normal;
}

#endereco span, #endereco abbr, #endereco a{
    font-size:10px;
}

#redesSociaisFooter{
    position:relative;
    bottom:270px;
    left:270px;
    width:240px;
    margin-left:300px;
    font-size:10px;
    text-align:left;
}

.redesSociais h3{
    color:#888888;
    font-size:19px;
    font-weight:500;
    text-align:left;
    margin-bottom:9px;
    border-bottom:1px #e3e3e3 solid;
}

#redesSociaisFooter span{
    margin-top:10px;
}

#redesSociaisFooter img{
    display:inline-block;
}

.textoCopyright{
    float:left;
    display:inline-block;
}

#facebookFooter{
    float:right;
    position:relative;
    bottom:415px;
    right:150px;
}

