.tipoGraduacao{
	color: #006b2c;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: -30px;
}

.paginaGraduacao h1{
	color: #006b2c;
}

.linkExcerpt {
	color:#000;
	-webkit-transition:0.3s all linear;
	-moz-transition:0.3s  all linear;
	-o-transition:0.3s  all linear;
	transition:0.3s  all linear;
}

.linkExcerpt:hover {
	color: #007339;
}