#menuAcessibilidade{
	float:right;
	width:153px;
	margin-top:10px;
}

#menuAcessibilidade span{
	float:right;
	-webkit-margin-top:-18px; /* para webkit */
	-moz-margin-top:-18px; /* para gecko */
	-o-margin-top:-18px; /* para opera */
	margin-top:-18px; /* para browsers sem prefixo */
	color:#fff;
}

#botoesAcessibilidade ul{
	float: left;
	text-align: right;
	margin-left: 70px;
	margin-top: 8px;
}

#botoesAcessibilidade span{
	float: right;
	text-align: right;
	color: #FFF;	
	margin-top: 9px;
}

#botoesAcessibilidade ul li{
	display: inline;
	margin: 0;
}

#botoesAcessibilidade ul li a div{
    float:left;
    display:inline;
    margin-top:3px;
    margin-left:2px;
}

#altoContraste{
    background-image:url(../../img/contraste.png);
    width:16px;
    height:16px;
    -webkit-transition:0.4s ease-in all;
    -moz-transition:0.4s  ease-in all;
    -o-transition:0.4s  ease-in all;
}

#altoContraste:hover{
    background-image:url(../../img/altoContraste/contrasteAC.png);
}

#estiloPadrao{
    background-image:url(../../img/colorido.png);
    width:16px;
    height:16px;
    display:none !important;
    -webkit-transition:0.4s ease-in all;
    -moz-transition:0.4s  ease-in all;
    -o-transition:0.4s  ease-in all;
}

#diminuirFonte{
    background-image:url(../../img/menosFonte.png);
    width:16px;
    height:16px;
    -webkit-transition:0.4s ease-in all;
    -moz-transition:0.4s  ease-in all;
    -o-transition:0.4s  ease-in all;
}

#aumentarFonte{
    background-image:url(../../img/maisFonte.png);
    width:16px;
    height:16px;
    -webkit-transition:0.4s ease-in all;
    -moz-transition:0.4s  ease-in all;
    -o-transition:0.4s  ease-in all;
}

#aumentarFonte:hover{
    background-image:url(../../img/altoContraste/maisFonteAC.png);

}
