.post-categories a{
	font-size:12px;
	font-weight:bold;
	color:#5f966a;
	text-decoration:none;
	margin-left:-30px;
}

.post-categories li{
	margin-bottom:-5px;
}

.leiaMais:hover{
	color:#32558a;
}

.noticiaPrincipal{
	border-bottom:none !important;
}

.noticiaPrincipal h1{
    font-size:22px;
    color: #006B2C;
}

.noticiaPrincipal{
	border-bottom:1px dotted #7b7b7b;
	padding-bottom:20px;
}

.noticiaPrincipal h1 a{
	font-size:20px;
	color:#32558a;
}

.noticiasSecundarias h2 a{
	font-size:14px;
	color:#32558a;
}

.noticiaPrincipal legend{
	background-color:rgba(0,0,0,0.8);
	color:#fff;
	font-size:11px;
	text-align:center;
	width:460px;
	height:25px;
	padding-top:9px;
	position:absolute;
}

.noticiasSecundarias{
	margin-top:10px;
}

.noticiasSecundarias h2{
	font-size:14px;
	color:#4d689a;
	margin-bottom:1px;
}

.textoNoticiaPrincipal{
	margin-top:40px;
}

.data span{
	font-style:italic;
}

.corpoVideo {
	text-align: center;
	padding: 10px 0;
}
.corpoVideo>h1{
	padding: 0;
	margin: 0;
}