#acessoRapido{
	float:right;
	width: 450px;
	margin-top: 36px;
}

#acessoRapido form, .previsaoTempo{
	float:right;
}

.previsaoTempo{
	
}


#prev1{
	background-color:#fff;
}

/* ====== PESQUISA ====== */



/* ====== PREVIS�O DO TEMPO ====== */

#acessoRapido .previsaoTempo ul li{
	list-style-image:url(../../img/previsao.png);
}

#acessoRapido .previsaoTempo{
	color:#fff;
}


#slogan h2{
	font-family:"UnB Pro_Bold", sans-serif;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	margin-top:-1px;
	margin-left:10px;
}


/*Configura��es do Menu*/


#menuAcessibilidade ul li{
	display:inline;
	margin-left:1px;
}

#menuAcessibilidade ul li a{
	text-decoration:none;
}

.menu{
    margin-top:1px;
    margin-bottom:1px;
}

.menuAcessoRapido ul{
	margin: 9px 0; 
}

.menuAcessoRapido ul li{
	display:inline;
}

.subMenuPrincipal ul li, #menu-menu-noticias li, #menu-menu-divulgacao-cientifica li{
	list-style-image:url(../../img/altoContraste/marcadorSMPAC.gif);
}

.menu-acessos-externos-container ul li a{
	color:#000;
}

.menu-acessos-externos-container li a{
    color:#000;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.menu-acessos-externos-container li a:hover{
    color:#fff;
}

.menu li a:hover{
	color:#fff;
}

#translation_bar{
	position:relative;
	left:302px;
	top:30px;
	float:right;
	margin-right:5px;
}

#translation_bar a{
	margin-left:5px;
}

#barraAcessibilidadePrincipal{
	background-image:url(../../img/altoContraste/bgBAAC.png);
	width:100%;
}

/*CONFIGURAÇÕES DO MENU PRINCIPAL*/
#menuPrincipal{
	background-image:url(../../img/bgMP.gif);
	margin-top:5px;
	border-top:3px solid #ffa300;
}

.menu-menu-principal-container ul li ul{
	display: none;
}

.menu-menu-principal-container ul li:hover ul{
	display: block;
}

.menu-menu-principal-container ul li ul li a{
	font-size:12px !important;
}

.menu-menu-principal-container ul li ul.sub-menu{
    background: none repeat scroll 0 0 #155932;
    position: absolute;
    top: 34px;
    width: 500px;
    height:184px;
    z-index: 100;
}

#menu-menu-principal li, #menu-menu-principal{
	float: left;
	display: block;
}

#menu-menu-principal{
	position: relative;
}

#menu-menu-principal li:hover{
	background-image:url(../../img/altoContraste/bgMPHoverAC.jpg);
}

#menu-menu-principal li a:hover{
	color:#fff;
}

#menu-menu-principal li{
	margin-left: 0;
}

#menu-menu-principal li .submenu li a{
	font-size:10px;
	font-weight:normal;
}

#menu-menu-principal > li{
	border-right: 1px solid #d0d4bb;
}

#menu-menu-principal li:last-child{
	border-right: none;
}

#menu-menu-principal li a{
	text-decoration: none;
	font-size:15px;
	font-weight:bold;
	color:#8a8b86;
	text-transform: uppercase;
	padding: 5px 49px;
	float: left;
}

#menu-menu-principal li a:last-child{
    -moz-padding-left:49px;
    -o-padding-left:49px;
}

#menu-menu-principal .sub-menu a{
	padding: 2px 0 2px 10px;
}

#menu-menu-principal .sub-menu li{
	width:33.333%;
}