.subMenuPrincipal{
	border-bottom:1px dotted #656666;
}

.subMenuPrincipal li{
	border-bottom:1px dotted #656666;
	margin:15px 15px auto;
	padding-bottom:10px;
}

.menu-_menus-matricula{
	border-bottom:none;
	padding-bottom:0;
}

.subMenuPrincipal ul li:last-child{
	border-bottom:none;
	padding-bottom:15px;
}
.subMenuPrincipal li a, #menu-menu-divulgacao-cientifica li a, #menu-menu-noticias li a{
	color:#fff;
}

.subMenuPrincipal li a:hover, #menu-menu-divulgacao-cientifica li a:hover, #menu-menu-noticias li a:hover{
	color:#ffa300;
}

/*Configurações do Menu das paginas internas*/
ul[id^="menu-_menus-"]  li{
	list-style-image:url('../../img/altoContraste/eventos-listAC.png');
	border-bottom:none;
	margin-left:10px;
	margin-top:-5px;
}

.widget{
	list-style-type:none;
	margin-left:10px;
	margin-bottom:5px;
}

.widget h2, .linkRss{
	color:#4D6FA0;
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
}

.linkRss{
	margin-top:16px;
	margin-left:11px;
        color:#5e8aba;
}

#colunaEsquerda .widgettitle{
	margin-top:20px;
        color:#ffa300;
}
#menu-menu-noticias, #menu-menu-divulgacao-cientifica{
	margin-top:-19px;
	margin-left:-18px;
}