.paginacao{
	margin: 0 0 20px 0;
	float:right;
}

.paginacao a{
	background-color:#5e8aba;
	color:#fff;
	padding:5px 8px;
	margin:2px;
	font-weight:bold;
	font-size:9px;
	-webkit-transition:0.6s all linear;
	-moz-transition:0.6s  all linear;
	-o-transition:0.6s  all linear;
	transition:0.6s  all linear;
}

.paginacao a:hover{
	background-color:#7aa7d8;
}

.paginacao span.atual{
	background-color:#ffa300;
	color:#fff;
	padding: 7px 11px;
	margin:2px;
	font-size:12px;
	font-weight:bold;
}

.paginacao .paginas{
	margin-top:3px;
	margin-right:10px;
	color:#ffa300;
	float:left;
	font-size:10px;
}

/**/
.page-title, #post-0 h1{
	font-size:20px;
	color:#ffa300;
}

.leiaMais{
	color:#00B259;
}

.leiaMais:hover{
	color:#ffa300;
	border-bottom:1px dotted #ffa300;
}

.page-header{
	border-bottom:3px solid #ffa300;
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:-5px;
}

section h2{
	margin:0;
}

section h2 a{
	font-family:Verdana, arial, sans-serif;
	font-size:14px;
	color:#ffa300;
}

#resultadoBusca p{
	border-bottom:1px dotted #cacaca;
	padding-bottom:7px;
        color:#fff;
}

#resultadoBusca a{
	color:#fff;
	-webkit-transition:0.3s all linear;
	-moz-transition:0.3s  all linear;
	-o-transition:0.3s  all linear;
	transition:0.3s  all linear;
}

#resultadoBusca a:hover{
	color:#ffa300;
}

#resultadoBusca p:last-child{
	border-bottom:none;
}

#resultadoBusca span{
	color:#9c9c9c;
	font-size:11px;
}

.hls{
	background-color:#ffa300;
	color:#fff;
}

#formularioPesquisa{
	background-image:url(../../img/pesquisaIcon.png);
        background-repeat:no-repeat;
        padding:0px;
        margin:0px;
        position:relative;
	margin-top:20px;
	border:2px solid #4e4f50;
	position:relative;
	height:75px;
}

#formularioPesquisa h4{
	font-size:11px;
	color:#fff;
	padding-top:10px;
	padding-left:15px;
}



#formularioPesquisa input[type=text]{
	width:185px;
	height:20px;
	margin-left:14px;
	border:1px solid #007339;
        border:0px;
        position:absolute;
        top:33px;
}

#formularioPesquisa form{
	margin-top:-15px;
        display:inline;
}

.pesquisa{
	margin-top: 8px;
	float: right;
}

.pesquisa form input[type=text]{
    width:300px;
    height:20px;
    border:1px #fff solid;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.pesquisa form input[type=text]:focus{
    width:350px;
}

.pesquisa form span{
    border:medium none;
}

#searchsubmit{
    border-left:1px #9c9c9c dotted;
    padding-left:7px;
    background-color:transparent; /*important*/
    position:absolute; /*important*/
    top:135px;
    right:224px;
    width:11px;
    height:11px;
}

#formularioPesquisa #searchform #searchsubmit{
    border-left:1px #9c9c9c dotted;
    padding-left:7px;
    position:absolute; /*important*/
    top:39px;
    right:25px;
    width:11px;
    height:11px;
}