.redesSociais{
	padding-top:20px;
}
.redesSociais img{
	margin-right:2px;
}

.redesSociais h3{
	color:#6c94c0;
}

.redesSociais a div{
	text-decoration:none;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
}
.redesSociais a img:last-child{
	margin-bottom:7px;
}

.redesSociais a div{
    float:left;
    margin-right:5px;
    margin-top:4px;
}

#facebook{
    background:url(../../img/altoContraste/redesSociaisAC.png) no-repeat -3px -55px;
    width:48px;
    height:48px;
}

#googlePlus{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat -2px -5px;
    width:48px;
    height:48px;
}

#youtube{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat -54px -55px;
    width:48px;
    height:48px;
}

#twitter{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat -152px -5px;
    width:48px;
    height:48px;
}

#vimeo{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat -104px -55px;
    width:48px;
    height:48px;
}

#linkedin{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat -52px -5px;
    width:48px;
    height:48px;
}

#rss{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat -102px -5px;
    width:48px;
    height:48px;
}

#flickr{
    background: url('../../img/altoContraste/redesSociaisAC.png') no-repeat  -155px -55px;
    width:48px;
    height:48px;
}